.landingPageContainer{


  width: 100vw;
  height: 100vh;
  background-image: url("../public/background.png");
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;


}

.navBar{
  padding-inline: 1.2rem;
  padding-block: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 3.5rem;
  color: #fff;
}
.left-nav{
  padding: 1rem;
}
.left-nav h3{
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
}

.right-nav-item{
  display:  flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.right-nav-item p{
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  
}

.landingPageMiddle{
display: flex;
flex-direction: row;
gap: 1rem;
justify-content: space-between;
  width: 100vw;
  height: 100vb;
  
}

.middle-right{
  width: 50%;
  background-repeat: no-repeat;
  background-size:contain;
  


}
.middle-right img{
  width:80%;
  padding: 1rem 1rem 1rem;
}

.middle_left{
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.middleLeftContainer {
  padding-left: 3rem;
  display:  flex;
justify-content: flex-start;
  flex-direction: column;
  padding: 1rem 1rem 1rem;
  gap: 1rem

  
}

.middleLeftContainer h3{
  font-size: 2.5rem;
  cursor:pointer;
}

/* SignupPage */

.RegisterPage{

  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

}

.register_left{
  display: flex;
  width: 60%;
  height: 100vh;
  background-image: url("../public//leftImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.register_right{
  padding: 2rem;
  display: flex;
  width: 40%;
  height: 100vh;
  justify-content: center;

  

  
}
.registerRighContainer {
  width: 100%;
  height: 100%;

}
.registerRighContainer form{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
 gap: 1.4rem;
  
}

.formUnder{

  display: flex;
  flex-direction: column;

    width: 100%;
 

}
.formUnder input{
  padding: 0.6rem;
  text-decoration: none;
  border-radius: 10px;
border: 1px solid blue;
 outline: none;
 background: transparent;
}

.navBar2 {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}
.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;

}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer>div:nth-child(1) {
  font-size: 2.2rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] {
  background: #D97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer>div:nth-child(2) img {
  height: 70vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}